body {
    background-color: rgb(227, 231, 226);
    color: #291f1a;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/* ===start nav=== */
nav {
    z-index: 50;
}

li {
    display: inline-block;
    padding: 15px 0px 15px 0px;
    margin: auto;
}

#main-nav {
    font-size: 1.5rem;
    width: 100%;
    position: fixed;
    /* background-color: #ffffff; */
    color: #ffffff;
}

ul {
    float: right;
    margin-bottom: 0;
}

a {
    color: #e48a23;
    font-weight: 700;
    padding: 20px 15px 20px 15px;
}

/* li:hover {
    background-color: #19820B;
    
} */
a:hover {
    text-decoration: none;
    color: white;
    background-color: #e48a23;
}

/* ===end nav=== */
/* ===start header=== */
#main-header {
    height: 100vh;
    background: center;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
}

.main-header-content {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #ffffff;
}

.profession {
    font-size: 3rem;
    color: #ffffff;
}
.sec-txt {
    color: #e48a23;
}

/* ===end header=== */

/* ===start about=== */
/* .mnie {
    height: auto;
    background-color: red;
} */
.headline {
    font-size: 35px;
    font-weight: 700;
    /* margin-top: 60px; */
    margin-bottom: 35px;
}
#about {
    background-color: #f9fcfe;
}
section {
    padding: 80px 80px 100px;
}
.morda {
    max-height: 350px;
    max-width: 100%;
    float: left;
    border: 15px solid;
    border-radius: 100%;
}
.portrait {
    text-align: center;
    margin: 0;
    float: left;
}
article { 
    float: left;
}
/* ===end about=== */

/* ===start skills=== */
.skillsIcons {
    display: inline-flex;
    text-align: center;
}
.picticon {
    padding-left: 25px;
    padding-right: 25px;
}

/* ===end skills=== */